@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
}
body {
  background-color: #a25de4;
  color: #000000;
}
h1 {
  font-weight: bold;
  font-style: italic;
  text-align: center;
  font-size: 4rem;
}
h2 {
  font-size: 2rem;
}
.buttonRow {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  margin: 1rem;
}
.button {
  height: 6rem;
  width: 24vw;
  font-size: 1rem;
  border-radius: 2rem;
  background-color: gold;
}
.card-container {
  margin-top: 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: #c0c0c0;
  margin: 2rem;
  border-radius: 1.5rem;
  padding: 1rem;
}
.context {
  width: 60rem;
  text-align: center;
}
.contextRow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.feedback {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.feedbackCard {
  width: 30vw;
  text-align: center;
}
.pic {
  align-items: center;
}
.stats {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.text {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
h3 {
  margin-right: 0.2rem;
  font-size: 1.5rem;
}
p {
  font-size: 1.5rem;
}
@media (max-width: 1400px) {
  html,
  body,
  * {
    font-size: 10px;
  }
  .card {
    width: 16vw;
  }
}
@media (max-width: 1200px) {
  html,
  body,
  * {
    font-size: 10px;
  }
  .card {
    width: 16vw;
  }
}
@media (max-width: 1024px) {
  html,
  body,
  * {
    font-size: 9px;
  }
  .card-container {
    display: flex;
    flex: wrap;
    flex-direction: row;
    align-items: center;
  }
  .card {
    width: 28vw;
  }
}
@media (max-width: 768px) {
  :root {
  }
  html,
  body,
  * {
    font-size: 8px;
  }
  .card-container {
    display: flex;
    flex: wrap;
    flex-direction: row;
    align-items: center;
  }
  .card {
    width: 40vw;
  }
}
@media (max-width: 480px) {
  html,
  body,
  * {
    font-size: 5.4px;
  }
  .card-container {
    display: flex;
    flex: wrap;
    flex-direction: row;
    align-items: center;
  }
  .card {
    width: 50vw;
  }
}
